*{
	padding: 0; margin: 0; border: 0;
	font-family: SimHei;
	list-style: none;
	text-decoration: none;
}
body{
	background-image: url(img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}
/*头部*/
.container{
	width: 1000px;
	margin: 0 auto;
}
.header{
	height: 75px;
	background: #fdfdf9;
}
.header_logo{
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}
.main_nav{
	margin-left: 450px;
}
.main_nav li{
	float: left;
	line-height: 75px;
	width: 100px;
	text-align: center;
}
.main_nav li a{
	color: #000;
	font-size: 18px;
	font-family: 幼圆;
	font-weight: bold;
	height: 75px;
}
.main_nav li:hover{
	background-color: #e6f6f2;
}
/*展示内容*/

.warp{
	width: 100%;
	height: 550px;
	background: #fdfdf9;
	overflow: hidden;
	zoom: 1;
	float: left;
	margin-top: 5px;
}
.inner {
	float: left; 
	width: 1000px; 
	height: 550px; 
	overflow: hidden;
}
.panel{
	padding-top: 80px;
	height: 550px;
}
/*第一页*/
#first_page img{
	width: 100%;
	margin-top: 10px;
}
/*底部*/